<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp4.Properties.Settings.SELHOZConnectionString"
            connectionString="Data Source=KEDARIO\SQLEXPRESS01;Initial Catalog=SELHOZ;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp4.Properties.Settings.SELHOZConnectionString1"
            connectionString="Data Source=WIN-N4LAU77TVNN\SQLEXPRESS;Initial Catalog=SELHOZ;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>